@model job_offer_website.Models.Job

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>تفاصيل الوظيفة</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobImage)
        </dt>

        <dd>
            <img src="~/Uploads/@Html.DisplayFor(model=>model.JobImage)"
                 class="thumbnail"
                 style="height:128px; width:128px" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("التقدم لهذه الوظيفه", "Apply", new { id = Model.Id },new { @class = "btn btn-success"}) 
    @Html.ActionLink("العوده الي القائمه", "Index", new { @class = "btn btn-default" })
</p>
