@model IEnumerable<job_offer_website.Models.Category>
@{
                /**/

                ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>مرحبا بك عزيزي الزائر</h2>
    <p class="lead">يمكنك التصفح في فضاء موقعنا بكل سهوله ,يمكنك نشر وظيفه جديده اذا كنت ناشر ,ويمكنك التقدم للوظيفه اذا كنت متقدم .</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">المزيد من التفاصيل &raquo;</a></p>
</div>
@foreach (var item in Model)
{
    <div class="panel panel-default" style="padding:20px;">
    <h1 class="panel-heading">@Html.DisplayFor(modelitem => item.CategoryName)</h1>
    <h5>@Html.DisplayFor(modelitem => item.CategoryDescription)</h5>
    <div class="row">
        @foreach (var i in item.Jobs)
        {

        <div class="col-md-3 thumbnail" style="margin-left:20px; margin-bottom:10px ;height:380px;">
            <img src="~/Uploads/@i.JobImage" />
            <h2">@Html.DisplayFor(m => i.JobTitle)</h2">
            <h5">@Html.DisplayFor(m => i.JobContent)</h5">
            <br />
            @Html.ActionLink("التفاصيل", "Details", new { id = i.Id },new { @class= "btn btn-primary"}) 
        </div>

    }
    </div>
</div>
}

